* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacing {
  margin-top: 20%;
}

.error {
  font-size: 13px;
  color: #c02533;
  font-weight: bolder;
  margin-top: -10px;
}

.loading {
  font-size: 13px;
  font-weight: bolder;
  margin-top: -10px;
}

.form_wrapper {
  background-color: rgba(242, 242, 242, 0.8);
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  color: rgb(14, 12, 12);
  padding: 40px 40px 40px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 1.6;
  height: 150;
  position: fixed;
  bottom: 120px;
  right: 50px;
  max-width: 500px;
align-items: center;

}



.loginlogo img {
  max-width: 50%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any potential extra space beneath the image */
  margin: 0 auto; /* Center the image within the container */
  border-radius: 50%; /* Apply a border-radius for a circular shape (adjust as needed) */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  Add a subtle box shadow */
  margin: 0 auto;
}

.form_fields_padding {
  margin: 5px auto;
  width: 38vw;
  max-width: 323px;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 6;
}

.subHeading {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 250;
}

mat-form-field {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.pinkBg {
  background-color: #c02533;
}
.whiteText {
  color: white;
}

.boldText {
  font-weight: 500;
}

.pinkText {
  color: #c02533;
}

button {
  width: 100%;
}

#timer {
  text-align: center;
  padding: 8px;
  visibility: hidden;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: lightgrey;
  border-bottom: 2px solid #22a8c9;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
/* ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
} */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

@media (max-width: 500px) {
  .form_fields_padding {
    margin-left: 16%;
  }
}
.captcha {
  padding-bottom: 10px !important;
  transform: scale(1.8);
}
::ng-deep.mat-input-element {
  padding-top: 5px !important;
  height: 20px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}
