.mat-sidenav-container {
  height: 100%;
  background: white;
  color: rgb(17, 9, 9); /* Default text color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Add a smooth transition effect on color change */
}
.mat-sidenav {
  width: 180px;
}
.main {
  position: relative;
  margin-top: 68px;
  z-index: 5;
}
.mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: #F5F5F5;
  border-color: #707070;
  border-width: 1px;
  width: 100%;
  height: 68px;
  padding: 0px 2vw;
}

.header--logo {
  vertical-align: middle;
  cursor: pointer;
  /* UX enhancement */
  padding-left: 20%;
  /* UX enhancement end */
}

.spacer {
  flex: 1 1 auto;
}
.list-item > .mat-list-item {
  color: #000000;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  text-decoration: solid;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 200;
}
.list-item > a:hover { /* You can adjust the scale value based on your preference */
  background-color: #c02533; /* Change to a different color on hover #e3acb3 */
  color: #ffffff;
  cursor: pointer; /* Change cursor on hover, e.g., to a pointer */
}
.list-item {
  display: inline-flex;
  padding: 20px;
  margin-left: 25px;
}

.sidenav-list > .mat-list-item {
  color: rgb(25, 23, 23);
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: 'Roboto', Helvetica, sans-serif;
  transition: color 0.3s; /* Add a smooth transition effect on color change */
}

.sidenav-list > .mat-list-item:hover {
  background-color: #c02533; /* Change to a different color on hover #e3acb3 */
  color: #ffffff; /* Default color for all links */
}

.sidenav-list > .mat-list-item:hover.router-link-active {
  background-color: #c02533; /* Change to a different color on hover #e3acb3 */
  color: #ffffff; /* Change color to red when hovered and active (visited) */

}

.header__actions {
  text-transform: none !important;
}

@media (min-width: 670px) {
  .sidenav-button {
    display: none;
  }
}
@media (max-width: 670px) {
  .list-item {
    display: none;
  }
}
