.main-footer {
  display: flex;
  justify-content: center;
  color: rgb(12, 14, 16);
  font-family: Roboto;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
  bottom: -9px;
  width: 100%;
  z-index: -1;
  margin-bottom: 2px;
  background-color: #f7f7f7;
}

.version-txt {
  font-size: 8px;
  font-family: "OpenSans", sans-serif;
  font-weight: 100;
  display: block;
  justify-content: center;
}
