<header class="header">

  <h2>Contact Us To Assist You</h2>
</header>

<div class="content">
  <div class="contact-info">
    <h3>NIRA (HEADQUARTERS) </h3> 
   
    <p>National Independence Grounds,</p>
    <p>Kololo Airstrip, P.O.Box 26529,</p>
    <p>Kampala Uganda</p>
    <h3>Phone</h3>
    <p>Reception:  +256 312119600</p> 
    <h3>For client inquiries, contact:</h3>
    <p>Call Center: 0800211700</p>
    <h3>Email</h3>
    <p>info@nira.go.ug</p>
  </div>
  
  <div class="contact-form">
    <h3>Send Your Message</h3>
    <form>
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Your Email</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="3" required></textarea>
      <button class="button" type="submit">SEND MESSAGE</button>
    </form>
  </div>
  <div class="empty"> 
    <h3>Mission</h3>
    <p>“To Establish and Maintain a Credible, Secure and Update-to-date Register of all Persons in Uganda for National Security and Socio-economic Development.”</p>
    <h3>Vision</h3>
    <p>“To be a Centre of Excellence in providing Identification and Registration of persons.”</p>

    <h3> (PIIP-TC)</h3>
    <p>-Professionalism</p>
    <p>-Integrity</p>
    <p>-Innovation</p>
    <p>-Teamwork</p>
    <p>-Customer Centered</p>

</div>
</div>   

<div class="main-footer">
  <p>
    <img src="../../../assets/logo-final.png" style="height:20px; vertical-align: middle;" /> <strong>National Security Information
      System</strong>
 
  </p>
</div>
